<section class="section-content">
  <h2>Projekt</h2>
  <p>Witaj,</p>
  <p>Dziękuję, że znalazałaś/eś czas na poznanie się z moim projektem.</p>
  <h3>Opis</h3>
  <p>Aplikacja webowa na wzór gry lotto, oparta na modularnym monolicie, architekturze
    heksagonalnej. Użytkownik otrzymuje unikalny bilet po podaniu zestawu liczb.
    Wygrywające liczby pobierane są automatycznie i cyklicznie z zewnętrznego serwera.
    Następnie na ich podstawie i biletów automatycznie generowane są wyniki.</p>
</section>
<section class="section-content">
  <h2>Technologie</h2>
  <p>Java 17, Maven, Git, Spring Boot: Web (RestControllers), Data, MongoDB, Testy
    Jednostkowe (JUnit5, Mockito, AssertJ), Testy Integracyjne SpringBootTest,
    MockMvc, Test Containers, WireMock, RestTemplate, Angular, HTML5, CSS</p>
</section>
<section class="section-content">
  <h2>Kontakt</h2>
  <p>W przypadku pytań proszę o kontakt:</p>
  <p>twodzinski@op.pl</p>
</section>

