.ticket-id {
  display: block;
  margin: 10px auto;
  width: 80%;
  text-align: center;
}

.ng-invalid.ng-touched:not(form) {
  border: 1px solid #8b0000;
}

.error {
  background-color: #8b0000;;
  color: #FFFFFF;
}

.sample-result {
  margin: 10px auto;
  padding: 10px 10px;
  font-size: 22px;
  color: #3757c0;
  text-align: center;
  text-shadow: 0 0 10px #ffffff;
  border: 2px solid #3757c0;
  box-shadow: 0px 0px 8px #3757c0;
}
